
# Go binaries
agent
*.exe

# Go build cache
*.test

# Env file
.env

# Editor/IDE
.vscode/
.idea/
*.code-workspace
*~
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Logs & temp
logs/
*.log
*.tmp
tmp/
